@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-3 transition-all md:px-5 md:py-3;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-sm text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }
}
.trailer {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: aqua;
  height: 400px;
}
